* {
    margin: 0 auto;
}
body {
    background-color: rgb(59, 74, 89);

}
header {
    background-color: hsl(210deg 22% 23%);
    height: 8vh;
}

.container {
    max-width: 1200px;
    padding: 30px 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.card {
    width: calc(100% / 3 - 100px);
    margin:20px;
    text-align: center;
    height: 370px;
    background-color: hsl(210deg 22% 23%);
    color: white;
    align-items: center;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}
.box-card img {
    width: 100%;
}
.box-card {
    width: 150px;
    height: 150px;
}

header img {
    width: 60px;
    padding: 8px;
}